*{
    scroll-behavior: smooth;
    overflow: auto;
}

.loginbtn{
    background:#4b7bec;
    color: white;
    border: 2px solid #4b7bec;
    width: 35%;
    height: 40px;
    border-radius: 5px;
    box-shadow: solid beige 2px 2px 2px 2px;
    display:block;
    margin: auto;
    margin-top: 50px;
    font-size:15px;
    cursor: pointer;
    margin-bottom: 10px;
    
}
.logininput{
    width:400px;
    margin: 20px;
}
.footer{
    background: #4b7bec;
    color: aliceblue;
    padding: 20px;
    margin-top: 50px;  
}

.notfound{
text-align: center;
margin-top: 140px;
margin-bottom: 140px;
}
.forgetpassword{
margin-left: 50%;
color: #3265dc;
}
.forgetbox{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 180px;
  
}
.forgetinput{
    width: 300px;
    
}
.resetpassword{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 110px;
margin-bottom: 150px;
padding: 20px;
}
@media screen and (max-width: 450px) {
    .loginbox{
    margin-bottom: 350px;
}
    .forgetbox{
        text-align: center;
     margin-bottom: 410px;
     margin-top: 250px;
      
    }
    .resetpassword{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 210px;
margin-bottom: 450px;
padding: 20px;
}
    
}
